<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>

    <script src="js/jquery-3.5.1.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<h1 class="h1" th:text="${list}">h1</h1>
<button type="button" class="btn btn-primary" th:text="${list}">Pri0021112223mary</button>
<button type="button" class="btn btn-secondary" th:text="${list}">Se25condary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark0315056333</button>

<button type="button" class="btn btn-link">Link</button>
<script>
  $(function () {
      console.log($(".h1"))
  })

</script>
</body>
</html>